[submodule "x2100-ec"]
	path = x2100-ec
	url = https://github.com/jwise/x2100-ec
	branch = master
[submodule "x210"]
	path = x210
	url = https://github.com/harrykipper/x210
	branch = master
[submodule "x210-ec"]
	path = x210-ec
	url = https://github.com/l29ah/x210-ec
	branch = master
[submodule "flashrom"]
	path = flashrom
	url = https://github.com/flashrom/flashrom.git
	branch = master
[submodule "x2100_coreboot"]
	path = x2100_coreboot
	url = https://github.com/mjg59/coreboot.git
